



.aboutContainer {
    display: flex;
    background-color: white;
    color: black;
     height: 70vh; 
    padding: 100px 0 100px 0;
    height:550px;
    border-top: 3px solid #070606;
   /*  background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLWGlfQuXkTpGZLM2EAvgCbv0AJ7apk8XIv5o3G-BQ9de_Oa1L8XmGKZ6gXXGqcSyBC34bbEkuWEuUdhK79kgeojmCeX0dRR1P2G2Biol2qv2p-MX79jV3kB_cay394Qiu1aml_RTqwTGH7UAWYcNcud=w1920-h885-no?authuser=0"); */
   background-image: url("https://lh3.googleusercontent.com/pw/AM-JKLWGlfQuXkTpGZLM2EAvgCbv0AJ7apk8XIv5o3G-BQ9de_Oa1L8XmGKZ6gXXGqcSyBC34bbEkuWEuUdhK79kgeojmCeX0dRR1P2G2Biol2qv2p-MX79jV3kB_cay394Qiu1aml_RTqwTGH7UAWYcNcud=w1360-h627-no?authuser=0");
   display: flex;
   flex-direction:column;
   justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.815); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    width: 80%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 700px;
  
    
   
  }






.parrafo {
    text-align: center;
    font-style:italic; 
    line-height: 25pt;
    font-size: 18px;
    color: rgba(248, 246, 246, 0.993);
    font-weight: bold;
    display: flex;
    flex-direction:column;
    justify-content: center;
    
   
} 


.img {
    width: 50x;
    height: 50px;
    margin: auto 20px;
    right: 5px;
    bottom: 20px;
    float: right;
    position: absolute;

}