.navbar {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.562);
    width: 100%;
    height: 80px;
    padding-left: 50px;
    font-size:20px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.scrolling{
    background-color:rgba(0, 0, 0, 0.521);
    transition: all 0.5s ease;
}

.contenedor{
    margin-left: -20%;
    flex-direction: row;
    justify-content: center;
    display: flex;
    padding: 2rem;
  margin-left:-6%;

}

.navBarLogo {
    height: 80px;
    line-height: 80px;
    color: white;
    cursor: pointer;
    font-size: 150%;
    padding: 4rem;
    
}
.navBarLogo:hover{
    
    transition: 0.100s;
    margin-top: -0.5em;
}


.myProjects {
    height: 80px;
    line-height: 80px;
    color: white;
    cursor: pointer;
    /* margin-left: 8%;
    margin-top: -5%; */
}

@media screen and (max-width: 500px){
    .navBarLogo {
        height: 30px;
        line-height: 10px;
        color: white;
        cursor: pointer;
        font-size: 65%;
        padding: 1rem;
    }
    .contenedor{
        margin-left: -20%;
        flex-direction: row;
        justify-content: center;
        display: flex;
        padding: 2rem;
    }
 
    }


