.carouselContainer {
    display: flex;
    vertical-align: center;
    align-items: center;
    background-color: black;
    padding: 30px 0 30px 0;
    color: blanchedalmond;
    
}
 
.carouselTitle {
    color: rgb(240, 15, 15);
    width: 40%;
    text-align: center;
    font-size: 30px;
    padding: 0 100px 0 100px;
}

.slideContainer {
    height: 70%;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.slideContainer > img {
    object-fit: contain;
    transition: all 0.2s ease-in-out;
}
.slideContainer:hover > img {
    transform: scale(1.2);
    opacity: 0.7;
}

.slideDesc {
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    padding-left: 30px;
    border-top-left-radius: 20px;
    opacity: 0.8;
}

.slideDesc > span{
color: white;
display: block;
font-size: 22px;
padding: 20px 0 20px 10px;
}

.BrainhubCarousel__arrows {
    background-color: white;
    border-radius: 50px;
    margin:20px;
}

.BrainhubCarousel__arrows > span {
    border-color: black;
}

.BrainhubCarousel__arrows:hover {
    background-color: white !important;
}

.BrainhubCarousel__arrows:hover > span {
    border-color:  black !important;
}

@media screen and (max-width: 500px) {
    .carouselContainer {
        flex-direction: column;
    }
    .carouselTitle {
        width: 100%;
        text-align: center;
        padding: 50px 0 50px 0;
    }
    .slideContainer {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {

  
    .thefront{
        position: absolute;
        width:100%;
        height: 150%;
        backface-visibility: hidden;
        background:rgba(250, 250, 250, 0.616);
        color:rgb(0, 1, 2);
      
        
        
        
    }
    
    .theback{
        position: absolute;
        width:100%;
        height:180%;
        backface-visibility: hidden;
        background:rgba(250, 250, 250, 0.616);
        color:rgb(12, 2, 1);
        transform: rotateY(180deg);
        margin-left: 10%;
    }
    
    .comics{
        color: rgb(1, 0, 8);
        font-size: 125%;
        font-family: "Architects Daughter";
        padding-left: 2%;
    padding-right: 2%;
    margin-left: 0rem;
    margin-top: 0rem;
    position: absolute;
    }

  }

  @media screen and (max-width: 500px){

    .img{
        width: 120%;
    }
    

    
    }
